* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(image/apa\ iya\ 23.jpg);
}

header {
    background-color: rgb(rgb(31, 200, 242), rgb(21, 117, 242));
    color: white;
    padding: 20px;
    text-align: center;
}
.header nav{
    padding-top: 100px;
}

h2, h3, p{
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav li{
    margin-top: 10px;
}

.banner {
    background-image: url(image/download.jpeg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: white;
}

.banner h2{
    font-size: 30px;
    color: #92feca;
}

.banner p{
    font-size: 20px;
    padding-top: 10px;
}

.menu-section {
    padding: 50px;
    text-align: center;
}

.menu-section h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.menu-item {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.menu-item img {
    width: auto;
    height: 150px;
    border-radius: 15px;
}

.contact-us{
    text-align: center;
}

footer {
    background-color: rgb(74, 164, 238);
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
